node_modules
package.json
yarn.lock
# Ignore artifacts:
build
Coverage

# Igore build types
expo-env.d.ts

# Files
ios/**
android/**
assets/**
.vscode
.expo-shared
.prettirrc
.eslintrc.js